*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_Section{
    width: 100%;
    height: 30px;
    background-color: rgb(12, 151, 134);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_Main{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.top_Left{
    width: 60%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.top_Right{
    width: 20%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.top_Right > i{
    color: white;
}
.Courses{
    width: 100%;
    height: 100vh;
    margin: 50px;
    color: antiquewhite;
    /* background-image: url(./../Images/OIP.jpg);
    background-repeat: no-repeat; */
    /* background: linear-gradient(#ff00001c, yellow),url(./../Images/OIP.jpg) no-repeat; */
    background-size: contain;
    transform: translateY(100px);
    
}
.btn{
    padding: 10px 15px;
    border-radius: 5px 10px;
}

.Card{
    width: 300px;
    height: 478px;
    overflow: hidden;
    border-radius: 15px;
}
.card_top{
    width: 300px;
    height: 250px;
}

/* .card_top > img{
    width: 100%;
    height: 100%;
} */
.card_Bottom,.card_Title{
    padding: 15px;
    background-color: #8e3939;
    color: white;
}